<!DOCTYPE html>
<html lang="en">

<head>
    <title>Susu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
</head>

<header>
    <h1 class="top_blob" id="count"> 0 </h1>
    <h1 class="top_blob">poopnugget142</h1>
    <h1 class="top_blob"><b>SUSUWATARI FOREVER</b></h1>
</header>

<body>
    {{!-- Not actually a canvas lol --}}
    <div id="main_canvas"> </div>
</body>

</html>

{{#unless post}}
<script src="/js/game.js"></script>
{{/unless}}
