<!DOCTYPE html>
<html lang="en">

<head>
    <title>Susu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
</head>

<header>
    {{#if logged_in}}
    <h1 class="top_blob" id="count">{{pop_count}}</h1>
    <h1 class="top_blob"><a href="/dashboard">{{username}}</a></h1>
    {{/if}}
    {{#unless logged_in}}
    <h1 class="top_blob" id="login">SIGN IN</h1>
    {{/unless}}
    <h1 class="top_blob"><b><a href="/">SUSUWATARI FOREVER</a></b></h1>
</header>

<body>
    {{{ body }}}
</body>

</html>

{{#unless logged_in}}
    <script src="/js/loginButton.js"></script>
{{/unless}}