{{!-- Not actually a canvas lol --}}
<div id="main_canvas"> </div>

<!-- The Modal -->
<div id="modal">

    <!-- Modal content -->
    <div id="modal_content">
        <h1 id="modal_title">title</h1>
        <p id="modal_author">author</p>
        <p id="modal_date">date</p>
        <p id="modal_text">Some text in the Modal..</p>
    </div>

</div>

<script src="/js/game.js"></script>