<form id="login_forum">
    <br>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password"><br>
    <input type="submit" value="Submit"><br>
    <p><a href="signup">Create an account</a></p>
</form>

<script src="/js/login.js"></script>