<h2>UPDATE YOUR POST</h2>
<form id="update_post_forum">
    <br>
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" value="{{post.title}}"><br>
    <label for="content">Content:</label><br>
    <input type="text" id="content" name="content" size="100" value="{{post.content}}"><br>
    <input type="submit" value="UPDATE"><br>
</form>

<script src="/js/update.js"></script>